.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.btn {
  font-weight: 500;
  padding: 1rem;
  width: 100px;
  height: min-content;
  border-radius: 1rem;
  color: rgb(53, 53, 53);
   border: 1px solid  rgb(53, 53, 53);

}

.btn-color-1{
  background-color: rgb(53, 53, 53);
  color: white; 
}
.btn-color-2 {
   border: 1px solid  rgb(53, 53, 53);
  background-color: white;
}

/* Efeito de Hover */
.btn-color-1:hover{

  cursor: pointer;
  transform: scale(1.05); /* Expande o botão levemente */
  box-shadow: 0 0 10px rgba(53, 53, 53, 0.6); /* Efeito de aura */
  background-color: white;
  color: rgb(53, 53, 53);

}
.btn-color-2:hover {
  cursor: pointer;
  transform: scale(1.05); /* Expande o botão levemente */
  box-shadow: 0 0 10px rgba(53, 53, 53, 0.6); /* Efeito de aura */
  background-color: rgb(53, 53, 53) ;
  color: white;
}




